<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>
        <%=title %>
    </title>
</head>
<body>

    <nav>
        <h1>Quiz App Api</h1>
        <ul class="navlinks">
            <li>
                 <a href="/">HOME</a>
            </li>
            <li>
                <a href="/pages/approve">APPROVE</a>
            </li>
            <li>
                <a href="/pages/query">QUERY</a>
            </li>
        </ul>
    </nav>
