<%- include('../partials/header.ejs',{title:"Quiz App | APPROVE"}) %>

<h1>This is APPROVE Page</h1>

<div class="questions-container">
    

    <div class="question-block">

        <div class="question-item">
            <div class="question">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non voluptatem nobis 
                    id necessitatibus doloremque natus, molestiae repellendus? Earum, eos tempora.</p>
            </div>
            <div class="options-container">
                <p class="option correct">cat</p>
                <p class="option incorrect">lat</p>
                <p class="option incorrect">sat</p>
                <p class="option incorrect">tat</p>
            </div>
        </div>
        <div class="others">
            <p class="category">9</p>
            <p class="difficulty">easy</p>
            <button class="approve-btn">APPROVE</button>
        </div>
    </div>


</div>

<%- include("../partials/footer.ejs") %>